* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(220, 56, 19);
    height: auto;
}

nav #headding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align-last: center;
}

#headding div {
    height: auto;
    width: 40%;
}

#headding div:last-child {
    height: auto;
    width: 70%;
    color: rgb(255, 205, 0);
    text-shadow: 1px 1px #000000;
}

#headding div img {
    width: 100px;
    height: auto;
}

nav #navitem {
    border-top: 2px solid rgb(0, 0, 0);
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#navitem button {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background: rgb(233, 221, 0);
    /* opacity: 0.5; */
}

#navitem button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* ------------------------------ */
#menuitems {
    display: grid;
    padding: 20px;
    gap: 10px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
}

#menuitems .items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    text-align: justify;
    border: 2px solid rgb(0, 0, 6);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.items div:first-child img {
    width: 100%;
}

.items div:nth-child(2n) {
    font-size: 16px;
    font-weight: 900;
}

.items div:last-child {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 100%;
    margin: 0px auto;
}

.items div:last-child>button {
    color: rgb(234, 234, 32);
    background-color: rgb(219, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    border: 1px solid rgb(233, 237, 15);
    width: 80%;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 700;
    margin: auto;
}

/* tablet and i pad */
@media(min-width: 481px) and (max-width:768px) {
    #headding div:last-child {
        font-size: 1.5em;
    }

    #menuitems {
        grid-template-columns: repeat(2, 1fr);

    }
}

/* all sceen laptops */
@media(min-width: 769px) and (max-width:1438px) {
    #headding div:last-child {
        font-size: 1.8em;
    }

    #menuitems {
        grid-template-columns: repeat(3, 1fr);

    }
}

/* tv */
@media(min-width: 1439px) and (max-width: 2047px) {

    #headding div:last-child {
        font-size: 2em;
    }

    #navitem button a {
        font-size: 32px;
    }

    #menuitems {
        grid-template-columns: repeat(4, 1fr);

    }
}

/* ulta wide tv  */
@media(min-width: 2048px) {

    #headding div:last-child {
        font-size: 2.5em;
    }

    #navitem button a {
        font-size: 48px;
    }

    #menuitems {
        grid-template-columns: repeat(5, 1fr);

    }
}